<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Car Bazar</title>
	<meta name="description" content="Hello World">

	<script  src="jquery-3.3.1.js"></script>
	<script  src="search.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


</head>

	<header>

		<div class="navbar navbar-light" style="background-color: #e3f2fd;">

			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/home" class="navbar-brand"><img width="150" height= "45" src="/contents/image/black.jpg" ></a>
				</div>
				<div class="navbar-form navbar-right" id="example">
					Welcome <%=email%>
				  <ul class="nav navbar-nav">

					<!--	<li><a href="">Auction</a></li>-->
						<li><a href="/user">Home</a></li>
						<li><a href="/buy">Buy</a></li>
						<li><a href="/sell">Sell Car</a></li>
						<li><a href="/logout">Log Out</a></li>
					</ul>



				</div>

			</div>
		</div>


<body>
	<br/><br/><br/>
	<input placeholder="enter name" name="carmodel" id="nam"/>
	<button>Search</button>
	<p id="par"></p>
	<br/><br/><br/>
<table class="table table-hover">
						<tr>

			<th>Id</th>
			<th>email</th>
			<th>Car Model</th>
			<th>Price</th>
			<th>Mileage</th>



		</tr>
		<% for(var i=0;i<list.length;i++){%>
					  <tr class="info">
				<td><%= list[i].id %></td>
				<td><%= list[i].email %></td>
				<td><%= list[i].carmodel %></td>
				<td><%= list[i].price %></td>
				<td><%= list[i].mileage %>km/h</td>

					  </tr>
					  	<% } %>


				</table>

			<hr>





	<!-- Latest compiled and minified JavaScript -->
	<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
